apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-worker
  labels:
    app.kubernetes.io/component: worker
    app.kubernetes.io/instance: temporal
    app.kubernetes.io/name: temporal
    app.kubernetes.io/part-of: temporal
    app.kubernetes.io/version: 1.20.0
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/component: worker
      app.kubernetes.io/instance: temporal
      app.kubernetes.io/name: temporal
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/component: worker
        app.kubernetes.io/instance: temporal
        app.kubernetes.io/name: temporal
        app.kubernetes.io/part-of: temporal
        app.kubernetes.io/version: 1.20.0
    spec:
      containers:
      - env:
        - name: BIND_ON_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.podIP
        - name: SERVICES
          value: worker
        - name: PROMETHEUS_ENDPOINT
          value: 0.0.0.0:8000
        - name: DYNAMIC_CONFIG_FILE_PATH
          value: /etc/temporal/dynamic_config/dynamic_config.yaml
        envFrom:
        - configMapRef:
            name: temporal-env
        image: temporalio/server:1.20.0
        imagePullPolicy: IfNotPresent
        name: temporal
        ports:
        - name: rpc
          containerPort: 7239
          protocol: TCP
        - name: metrics
          containerPort: 8000
          protocol: TCP
        resources:
          requests:
            cpu: 20m
            memory: 50Mi
          limits:
            cpu: 30m
            memory: 100Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/temporal/dynamic_config
          name: dynamic-config
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          items:
          - key: dynamic_config.yaml
            path: dynamic_config.yaml
          name: temporal-dynamic-config
        name: dynamic-config